

@media screen and (max-width: 500px) {
  .imgclass {
    display: none;
  }
}
.imgclass{
  height: 110px;
  background-image: url('../../../assets/userLogin.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.container-fluid{
  background-image: url("../../../assets/bg.png");
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.account{
  text-align: center;
}
.form-card{
  background-color: white;
  border-radius: 20px;
  padding: 20px 2% 0 2%;
}
